body {
    padding: 25px;
    margin: 0;
  }
  
  
  .container-one {
    width: 100%;
    padding: 10px;
    border: 5px solid black;
    box-sizing: border-box ;
  }
  
  .purple-rec {
    height: 145px;
    width: 50px;
    background-color: purple;
    display: inline-block;
  }
  .green-rec {
    height: 200px;
    width: 400px;
    display: inline-block;
    background-color: green;
    margin: 0 50px;
  }
  .blue-circ {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: lightblue;
    display: inline-block;
  }
  
  .container-two {
    width: 100%;
    border: 5px dotted black;
    padding: 45px;
    margin-top: 25px; 
    box-sizing: border-box ;
  }
  
  .box-shadow {
    width: 100%;
    height: 200px;
    background-color: lightyellow;
    box-shadow: 5px 10px rgb(58, 57, 57);
    /*-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
  }
  
  .container-three {
    width: 50%;
    border: 1px solid lightgray;
    background-color: white;
    padding: 100px;
    box-sizing: border-box;
    margin: 25px auto; 
    box-shadow: 5px 10px rgb(58, 57, 57);
    /*-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);*/
  }
  
  .container-three h1 {
    width: 100%;
    text-align: center;
    color:black;
    letter-spacing: 10px;
  }